.pp{
  margin-top: 10% !important;
}

.loader-container {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.loader-container {
  padding: 60px 0;
}

.loader-size {
  width: 50px !important;
  height: 50px !important;
}
