<div class="container">
  <h2>Add New Service</h2>

  <form #serviceForm="ngForm" (ngSubmit)="submitService(serviceForm)">

    <div class="row">
      <div class="col">
        <label>Service Name</label>
        <input type="text" name="name" [(ngModel)]="service.name" required>
      </div>
      <div class="col">
        <label>Choose Category</label>
        <select name="categoryId" [(ngModel)]="service.categoryId" required>
          <option disabled selected value="">-- Select Category --</option>
          @for (c of categories; track c.id) {
            <option [value]="c.id">{{ c.name }}</option>
          }
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label>Price (₹)</label>
        <input type="number" name="price" [(ngModel)]="service.price" required min="1">
      </div>
      <div class="col">
        <label>Service Image</label>
        <input type="file" (change)="onFileSelected($event)" accept="image/*" required>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label>Description</label>
        <textarea name="description" [(ngModel)]="service.description" required></textarea>
      </div>
    </div>
    @if (imageUrl) {
      <div class="row mt-2">
        <div class="col">
          <p>Image Preview:</p>
          <img [src]="imageUrl" alt="Preview" width="120" class="img-thumbnail">
        </div>
      </div>
    }

    <div class="row mt-3">
      <div class="col">
        <button type="submit" class="btn btn-primary">Add Service</button>
      </div>
    </div>

  </form>
</div>
