<div class="container-fluid" id="service">
  <h2 class="mb-3 text-info border-bottom border-top">Our Services</h2>

 
  @if (servicesList.length > 0) {
    <div class="row">
      @for (service of servicesList; track service.id) {
        <div class="service-card bg-dark text-light border rounded ms-3 box-shadow ">

          <a [href]="service.imageUrl" target="_blank">
            <img
              [src]="service.imageUrl"
              alt="{{ service.name }}"
              class="service-img img-fluid mt-3" />
          </a>

          <div>
            <h3 class="text-warning">{{ service.name }}</h3>
            <p class="text-primary">{{ service.description }} (Parts will be charged separately.)</p>
            <p class="fw-bold text-primary">Service Charge: ₹{{ service.price }}</p>
          </div>

          <div class="mb-2 d-flex justify-content-between">
            
            <button class="btn btn-outline-warning me-5" (click)="editService(service.id)">
              Edit
            </button>
            <button class="btn btn-outline-danger ms-5" (click)="deleteService(service.id)">
              Delete
            </button>
           
          </div>
        </div>
      }
    </div>
  }

  <!-- No Services Found -->
  @if (servicesList.length === 0) {
    <div class="alert alert-info">
      No services found.
    </div>
  }
</div>
