
.bg-primary {
  background-color: #6c9ade !important;
}

.bg-primary .text-white a {
  text-decoration: none;
  transition: color 0.3s;
}

.bg-primary .text-white a:hover {
  color: #ffe082;
}

.navbar {
  padding: 10px 20px;
}

.navbar-brand {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
}

/* .navbar-nav .nav-link {
  font-size: 16px;
  padding: 8px 15px;
  transition: 0.3s ease-in-out;
} */

.navbar-nav .nav-link:hover {
  color: #0d6efd !important;
  background-color: #f8f9fa;
  border-radius: 5px;
}

.navbar-nav .nav-link.active {
  color: #0d6efd !important;
  font-weight: bold;
  border-bottom: 2px solid #0d6efd;
}

.dropdown-menu {
  border-radius: 8px;
  border: 1px solid #1bf1e3;
  font-size: 15px;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #ffffff;
  color: #084ae7;
}

.btn-primary {
  border-radius: 20px;
  font-weight: 500;
  padding: 6px 15px;
  transition: 0.3s;
}

.btn-primary:hover {
  background-color: #0d67ed;
}

@media (max-width: 992px) {
  .navbar-nav .nav-link {
    text-align: center;
    padding: 10px;
  }

  .btn-primary {
    width: 100%;
    margin-top: 10px;
  }
}
@media (max-width: 991px) {
  .navbar-collapse.show {
    background: #1494d0 !important;
    padding: 10px;
    color: black;
    border-radius: 8px;
  }
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(0,0,0,0.8)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.nav-link.active,
.dropdown-item.active {
  font-weight: bold;
  color: rgb(0, 213, 255) !important;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 6px;
}
